__pycache__/
*.pyc
server.err.log
server.out.log
.DS_Store
Thumbs.db
node_modules
work/
dist/
*.inspect.ndjson
.venv/
felica-native/target/
tools/
felica-webusb-test.html
android-app/.gradle/
android-app/local.properties
android-app/build/
android-app/app/build/
